#torch
--extra-index-url https://download.pytorch.org/whl/cpu

#API
fastapi==0.111.0
uvicorn[standard]==0.30.1

#ML stack
torch==2.3.1
scikit-learn==1.5.1
pandas==2.2.2
numpy==1.26.2
scipy==1.13.1
matplotlib==3.8.4

